{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth account static %}

{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}

{% block left_content %}
<div class="auth-left">
    <img src="{% static 'auth/images/password_changed.svg' %}" 
         alt="Password Changed" 
         class="auth-illustration">
    <h1>{% trans "Change Password" %}</h1>
    <p>{% trans "Your password has been successfully changed." %}</p>
</div>
{% endblock left_content %}

{% block right_content %}
<div class="auth-right">
    <div class="auth-success">
        <h2>{% trans "Success!" %}</h2>
        <p>{% trans "You can now use your new password to log in." %}</p>
        <a href="{% url 'account_login' %}" class="btn-primary btn-full">
            {% trans "Sign In" %}
        </a>
    </div>
</div>
{% endblock right_content %}
